<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stuforum.demo.dao.ArticleInfoMapper">
  <resultMap id="BaseResultMap" type="com.stuforum.demo.entity.ArticleInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="is_top" jdbcType="BIT" property="is_top" />
    <result column="create_by" jdbcType="TIMESTAMP" property="create_by" />
    <result column="user_id" jdbcType="BIGINT" property="user_id" />
    <result column="tranffic" jdbcType="INTEGER" property="tranffic" />
    <result column="likes" jdbcType="INTEGER" property="likes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, is_top, create_by, user_id, tranffic, likes
  </sql>
  <select id="selectByExample" parameterType="com.stuforum.demo.entity.ArticleInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_article_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_article_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_article_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.stuforum.demo.entity.ArticleInfo" useGeneratedKeys="true">
    insert into tbl_article_info (title, is_top, create_by, 
      user_id, tranffic, likes
      )
    values (#{title,jdbcType=VARCHAR}, #{is_top,jdbcType=BIT}, #{create_by,jdbcType=TIMESTAMP}, 
      #{user_id,jdbcType=BIGINT}, #{tranffic,jdbcType=INTEGER}, #{likes,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.stuforum.demo.entity.ArticleInfo" useGeneratedKeys="true">
    insert into tbl_article_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="is_top != null">
        is_top,
      </if>
      <if test="create_by != null">
        create_by,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="tranffic != null">
        tranffic,
      </if>
      <if test="likes != null">
        likes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="is_top != null">
        #{is_top,jdbcType=BIT},
      </if>
      <if test="create_by != null">
        #{create_by,jdbcType=TIMESTAMP},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="tranffic != null">
        #{tranffic,jdbcType=INTEGER},
      </if>
      <if test="likes != null">
        #{likes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stuforum.demo.entity.ArticleInfo">
    update tbl_article_info
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="is_top != null">
        is_top = #{is_top,jdbcType=BIT},
      </if>
      <if test="create_by != null">
        create_by = #{create_by,jdbcType=TIMESTAMP},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="tranffic != null">
        tranffic = #{tranffic,jdbcType=INTEGER},
      </if>
      <if test="likes != null">
        likes = #{likes,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stuforum.demo.entity.ArticleInfo">
    update tbl_article_info
    set title = #{title,jdbcType=VARCHAR},
      is_top = #{is_top,jdbcType=BIT},
      create_by = #{create_by,jdbcType=TIMESTAMP},
      user_id = #{user_id,jdbcType=BIGINT},
      tranffic = #{tranffic,jdbcType=INTEGER},
      likes = #{likes,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>